.hero {
    height: 70vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 0.7;
}

.hero-left h2 {
    color: #090909;
    font-size: 20px;
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    font-size: 70px;
    font-weight: 700;
}

.hero-hand-icon {
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 80px;
}

.hero-latest-btn {
    display: flex;
    position: relative;
    top: 420px;
    right: 530px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 260px;
    height: 60px;
    border-radius: 75px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-right img {
    position: relative;
    top: 80px;
    right: 180px;
    width: 90%;
    height: 650px;
}
